langchain
python-dotenv
langchain_community
langchain_core
streamlit
ipykernel
langchain_groq
langchain_huggingface
pypdf
faiss-cpu
langchain_chroma
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube-transcript_api
unstructured
pytube
yt-dlp
openai-whisper
numexpr
huggingface_hub
ipywidgets
gradio